:root {
	--main: #003;
	--section1: #f0f;
	--section2: #0f0;
	--section3: #fc0;
	--primary: #00f;
	--secondary: #0ff;
	--tertiary: #363;
	--link1: #fff;
	--link1h: #ccc;
	--link2: #f00;
	--link2h: #f66;
}

body{
	font-family: 'Assistant', sans-serif;
	color: var(--primary);
	background:var(--main);
	margin: 0;
	line-height:1.25;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
	font-weight: 300;
	font-size: 1.1em;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: 600;
	color: var(--secondary);
}

a{
	color: var(--link1);
	text-decoration: none;
	border-bottom: 1px solid var(--link1);
}

a:hover{
	color: var(--linkh);
	border-bottom: 1px dotted var(--link1h);
}

header {
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header-contents {
	padding: 0 2em;
	width: 100%;
	max-width: 980px;
	background-color: var(--section1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

section {
	padding: 6em 2em 2em 2em;
	max-width: 980px;
	border-top: 3px double var(--section2);
}

section:nth-child(2) {
	border-top: none;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 1em;
}

.horiz-list li {
	display: inline-block;
	padding-right: 1em;
}

#splash {
	min-width: 100%;
	min-height: 100%;
	background-color: #000066;
}

#projects ul {
	columns: 2 240px;
}

.card {
	background-color: var(--section3);
	color: var(--tertiary);
	padding: 1em;
	display: flex;
	flex-direction: column;
	break-inside: avoid;
	min-height: 120px;
}

.card a {
	font-size: 1.25em;
	color: var(--link2);
	border-color: var(--link2);
	margin-bottom: 0.5em;
	font-weight: 600;
}

.card a:hover {
	color: var(--link2h);
	border-color: var(--link2h);

}

#projects h2 {
	column-span: all;
}

#projects h3 {
	column-span: all;
	margin-top: 2em;
}

#about {
	min-height: 100%;
	background-color: var(--section3);
}